#nome {
    font-family: monospace;
    border: solid 1px black;
    text-align: center;
}

#link-foto {
    border: solid 1px black;
    float: left;
    padding: 10px;
    background-color: aqua;
    text-decoration: none;
}

#descricao {
    font-family: sans-serif;
    border: solid 1px black;
    height: 270px;
    text-align: justify;
}

body {
    background-color: darkgreen;
}

div {
    font-style: italic;
}

.list1 {
    font-size: 15px;
}

.list2 {
    font-size: 30px;
}

.list3 {
    font-size: 40px;
}

ul li:nth-child(odd) {
    background-color: chartreuse;
}

a:link {
    text-decoration: none;
}

a:hover {
    color: red;
}